In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split

# A. Read Data

In [2]:
train = pd.read_csv("../data/train.csv", low_memory=False)
train.drop(["train_id"], axis=1, inplace=True)
train.head()

,AA3,AA4,AA5,AA6,AA7,AA14,AA15,DG1,is_female,DG3,...,GN1,GN1_OTHERS,GN2,GN2_OTHERS,GN3,GN3_OTHERS,GN4,GN4_OTHERS,GN5,GN5_OTHERS
0,3,32,3.0,NaN,323011,3854,481,1975,1,3,...,99.0,NaN,99,NaN,99,NaN,99,NaN,99,NaN
1,2,26,NaN,8.0,268131,2441,344,1981,1,8,...,NaN,NaN,1,NaN,2,NaN,2,NaN,2,NaN
2,1,16,NaN,7.0,167581,754,143,1995,1,3,...,1.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,4,44,5.0,NaN,445071,5705,604,1980,1,3,...,NaN,NaN,2,NaN,2,NaN,99,NaN,99,NaN
4,4,43,NaN,6.0,436161,5645,592,1958,1,3,...,NaN,NaN,1,NaN,1,NaN,1,NaN,1,NaN

In [3]:
# Train data dimensions
train.shape

(18255, 1234)

In [4]:
test = pd.read_csv("../data/test.csv", low_memory=False)
test.drop(["test_id"], axis=1, inplace=True)
test.head()

,AA3,AA4,AA5,AA6,AA7,AA14,AA15,DG1,DG3,DG3A,...,GN1,GN1_OTHERS,GN2,GN2_OTHERS,GN3,GN3_OTHERS,GN4,GN4_OTHERS,GN5,GN5_OTHERS
0,4,41,NaN,7.0,417211,4479,535,1979,8,1,...,2.0,NaN,1,NaN,3,NaN,3,NaN,3,NaN
1,3,32,2.0,NaN,322011,3803,476,1993,1,4,...,1.0,NaN,1,NaN,1,NaN,1,NaN,1,NaN
2,3,36,5.0,NaN,365011,5610,585,1980,3,99,...,2.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,2,24,NaN,7.0,247061,2550,350,1991,3,2,...,2.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
4,3,35,NaN,8.0,358071,3233,400,1985,3,4,...,1.0,NaN,1,NaN,1,NaN,1,NaN,1,NaN

In [5]:
test.shape

(27285, 1233)

In [6]:
# Variables listed in the data dictionary
var = list(pd.read_excel("../data/data-dictionary.xlsx", 
                         sheet_name="Codebook")["Column Name"]) + \
      list(pd.read_excel("../data/data-dictionary.xlsx", 
                         sheet_name="AA Locations", 
                         header=None)[0].dropna())
len(var)

1113

## 1. Discrepancy Between Data and its Dictionary

In [7]:
# Number of variables present in train, but NOT present in dictionary (A-B)
len(set(train.columns) - set(var))

155

In [8]:
# Variables present in test, but NOT present in train (A-B)
set(test.columns) - set(train.columns)

set()

In [9]:
# Variables present in train, but NOT present in test
set(train.columns) - set(test.columns)

{'is_female'}

In [10]:
# Number of variables present in dictionary, but NOT present in train
len(set(var) - set(train.columns))

30

## 2. Discover NaNs

In [11]:
# Empty columns with no data
emptyCol = train.columns[train.isnull().sum()==len(train)]
emptyCol

Index([u'DG4_OTHERS', u'G2P2_2_OTHERS', u'G2P2_10_OTHERS', u'G2P2_12_OTHERS',
       u'G2P2_15_OTHERS', u'MT12_99', u'MT13_4_OTHERS', u'MT13_96_OTHERS',
       u'MT14_3_OTHERS', u'MT14_5_OTHERS', u'MT14_7_OTHERS', u'MM3_15',
       u'MM3_16', u'MM4_16', u'MM5_4', u'MM5_5', u'MM5_15', u'MM5_16',
       u'MM5A_4', u'MM5A_5', u'MM5A_15', u'MM5A_16', u'MM6_16', u'MM7_4',
       u'MM7_5', u'MM7_15', u'MM7_16', u'MM8_15', u'MM8_16', u'MM11_4',
       u'MM11_5', u'MM11_5_OTHERS', u'MM11_11_OTHERS', u'MM11_15', u'MM11_16',
       u'MM15_OTHERS', u'MM17_13', u'MM17_15', u'MM17_17', u'MM17_19',
       u'MM17_22', u'MM17_96', u'MM17A', u'MM38_OTHERS', u'MM40_14',
       u'MM40_96', u'MMP4_7', u'MMP4_8', u'MMP4_96', u'FB28_3_OTHERS'],
      dtype='object')

In [12]:
# Remove empty columns from train and test data
train.drop(emptyCol, axis=1, inplace=True)
test.drop(emptyCol, axis=1, inplace=True)
print train.shape
print test.shape

(18255, 1184)
(27285, 1183)

In [13]:
# Columns where atleast 50% of the data are missing
sparseCol = train.columns[train.isnull().sum()>=len(train)/2.]
sparseCol

Index([u'AA5', u'DG3A_OTHERS', u'DG9b', u'DG9c', u'DG10b', u'DG10c', u'DG11b',
       u'DG11c', u'DG12B_1', u'DG12B_2',
       ...
       u'FB28_1_OTHERS', u'FB28_2_OTHERS', u'FB28_4_OTHERS', u'FB28_96_OTHERS',
       u'FB29_OTHERS', u'GN1_OTHERS', u'GN2_OTHERS', u'GN3_OTHERS',
       u'GN4_OTHERS', u'GN5_OTHERS'],
      dtype='object', length=823)

In [14]:
# NaN counts for columns with atleast 50% missing data
train[sparseCol].isnull().sum().unique()

array([12602, 18205, 10018, 11451, 11678, 12862, 12002, 13158, 14691,
       18246, 17508, 18222, 17974,  9257, 18153, 18021, 17947, 10985,
       15815, 18238, 18144, 14264, 14628, 18249, 15645, 18182, 17704,
       18232, 18241, 18179, 18235, 18208, 17524, 17965, 17860, 18212,
       18011, 18200, 18001, 18251, 18227, 18254, 18253, 18250,  9333,
       18244, 18230, 15095, 18240, 12082, 18234, 11243, 18233, 17672,
       15596, 17805, 18046, 18218, 18245, 16572, 18247, 18003, 16681,
       18055, 18252, 17572, 11285, 14806, 18199, 18135, 11496, 18248,
       17876, 18229, 11310,  9987, 18048, 18101, 18155, 18215, 18112,
       18133, 18049, 18217, 18124, 18116, 18170, 18242, 18209, 18183,
       17788, 17890, 17352, 18169, 18187, 18054, 18198, 18143, 18211,
       18194, 18125, 18180, 17752, 18157, 18239, 18223, 18220, 18216,
       18236, 18128, 18181, 17182, 18243, 17183, 18204, 18190, 18172,
       18191, 18219, 18201, 18224, 18226, 18207, 18210, 18214, 18031,
       18225, 18062, 17959, 18015, 17759, 17811, 17381, 17467, 17186,
       18213, 17616, 14574, 16325, 16366, 16358, 15388, 16897, 18114,
       18126, 13831, 18195, 13723, 18237, 16761, 17997, 18163, 17674,
       16691, 15474, 18158, 18192, 17059, 12714, 18160, 18024, 17975,
       17792, 17686, 17064,  9917, 18228, 17910, 16813, 17893, 18085,
       18189, 18196, 18177])

In [15]:
# Remove columns with atleast 50% missing data from train and test data
train.drop(sparseCol, axis=1, inplace=True)
test.drop(sparseCol, axis=1, inplace=True)
print train.shape
print test.shape

(18255, 361)
(27285, 360)

In [16]:
# Variables present in train, but NOT present in data dictionary (A-B)
set(train.columns) - set(var)

{'DL14', 'DL4_96', 'DL4_99', 'LN2_RIndLngBEOth', 'LN2_WIndLngBEOth'}

According to the data dictionary:  
DL4_96 = DL4_24,  
DL4_99 = DL4_25,   
LN2_RIndLngBEOth = LN2_3 Reading specification,   
LN2_WIndLngBEOth = LN2_4 Writing specification,  
DL14 description is unknown

Let's rename columns DL4_96 and DL4_99 in train and test data to match with the dictionary labels.

In [17]:
# Rename columns in train and test data to match with dictionary labels
train.rename(columns={"DL4_96": "DL4_24", "DL4_99": "DL4_25"}, inplace=True)
test.rename(columns={"DL4_96": "DL4_24", "DL4_99": "DL4_25"}, inplace=True)

In [18]:
# 123 columns have NaN in train data
missColTr = train.columns[train.isnull().sum()>0]
missColTr

Index([u'AA6', u'DG9a', u'DL5', u'MT1A', u'MT7', u'MT15', u'MT17_1', u'MT17_2',
       u'MT17_3', u'MT17_4',
       ...
       u'FB19B_2', u'FB19B_3', u'FB19B_4', u'FB19B_5', u'FB19B_96', u'FB20',
       u'FB24', u'LN2_RIndLngBEOth', u'LN2_WIndLngBEOth', u'GN1'],
      dtype='object', length=123)

In [19]:
# Counts of NaN in train data
train[missColTr].isnull().sum().unique()

array([5653,  232, 6806,  757, 8922, 7012, 6173, 6759, 6380, 7839, 8670,
         86,  425,   37,   11,    6,   47,   21,   10,    7,   34,   20,
        159,   16, 2129, 5293, 7319, 7397, 4049, 6580,  769,  444,  297,
        247,  263,   63, 1494, 5541, 6914, 6911, 4025])

In [20]:
# 123 columns have NaN in test data
missColTe = test.columns[test.isnull().sum()>0]
missColTe

Index([u'AA6', u'DG9a', u'DL5', u'MT1A', u'MT7', u'MT15', u'MT17_1', u'MT17_2',
       u'MT17_3', u'MT17_4',
       ...
       u'FB19B_2', u'FB19B_3', u'FB19B_4', u'FB19B_5', u'FB19B_96', u'FB20',
       u'FB24', u'LN2_RIndLngBEOth', u'LN2_WIndLngBEOth', u'GN1'],
      dtype='object', length=123)

In [21]:
# Counts of NaN in test data
test[missColTe].isnull().sum().unique()

array([ 8459,   386, 10207,  1158, 13479, 10590,  8976, 10134,  9622,
       11736, 12977,   141,   658,    35,     5,     8,    93,    32,
          51,    13,    15,    68,    31,   272,    25,  3169,  7846,
       10911, 10946,  5999,  9869,  1127,   716,   462,   374,   381,
          74,  2227,  8281, 10204, 10224,  6143])

In [22]:
# 123 columns with NaN are the same in train and test data
set(missColTr).symmetric_difference(set(missColTe))

set()

## 3. Clean Strings

In [23]:
# Variables that contain strings
print train.columns[train.dtypes==object]
print test.columns[test.dtypes==object]

Index([u'LN2_RIndLngBEOth', u'LN2_WIndLngBEOth'], dtype='object')
Index([u'LN2_RIndLngBEOth', u'LN2_WIndLngBEOth'], dtype='object')

### LN2_RIndLngBEOth

In [24]:
# frequency table
train["LN2_RIndLngBEOth"].value_counts()

Hindi                        5198
Marathi                      1023
Tamil                         941
Telugu                        914
Bengali                       891
Oriya                         478
Gujarati                      410
Kannada                       399
Malayalam                     293
Punjabi                       194
Assamese                      180
Marathi & Hindi                85
English                        43
Urdu                           39
Manipuri                       36
Chattisgari                    31
None                           21
Rajasthani                     21
Konkani                        13
Tribal Language                12
Bhojpuri                       11
Hindi & Marathi                11
Nepali                         10
Mewari                         10
Thadou                         10
Hindi & Urdu                    7
Hindi & Rajasthani              6
Govan                           6
Karbi                           5
sanskrit                        3
Punjabi & Hindi                 3
HIndi                           3
Haryanvi                        2
Telugu & Kannada                2
Marathi & Kannada               2
Kannada & Telugu                2
Hindi & Punjabi                 2
Hindi & Oriya                   2
Urdu, Kannada & Hindi           2
Gujarati & Marathi              2
Kannada & Urdu                  2
Sanskrit                        1
Arbi                            1
Dehati                          1
Hindi & Gujarati                1
Santhali                        1
Kokborok                        1
Meitei                          1
Konkani & Hindi                 1
Hindi & Kannada                 1
Assamese and Hindi              1
Rabha                           1
Oriya & Hindi                   1
Aadiwasi                        1
Hindi, Oriya & Bengali          1
Hindi, Marathi & Gujarati       1
Oriya, Hindi & Bengali          1
Name: LN2_RIndLngBEOth, dtype: int64

In [25]:
# Convert all strings to lower case to solve Hindi vs HIndi issue
train["LN2_RIndLngBEOth"] = train["LN2_RIndLngBEOth"].str.lower()
train["LN2_WIndLngBEOth"] = train["LN2_WIndLngBEOth"].str.lower()
test["LN2_RIndLngBEOth"] = test["LN2_RIndLngBEOth"].str.lower()
test["LN2_WIndLngBEOth"] = test["LN2_WIndLngBEOth"].str.lower()

In [26]:
# If multiple languages listed, coalesce to the one with highest frequency
train["LN2_RIndLngBEOth"].loc[train["LN2_RIndLngBEOth"].str.contains("hindi", na=False)] = "hindi"
train["LN2_RIndLngBEOth"].loc[train["LN2_RIndLngBEOth"].str.contains("marathi", na=False)] = "marathi"
train["LN2_RIndLngBEOth"].loc[train["LN2_RIndLngBEOth"].str.contains("kannada", na=False)] = "kannada"
# train["LN2_RIndLngBEOth"].value_counts()

/Users/divyanair/.pyenv/versions/2.7.14/envs/interview_env/lib/python2.7/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [27]:
test["LN2_RIndLngBEOth"].loc[test["LN2_RIndLngBEOth"].str.contains("hindi", na=False)] = "hindi"
test["LN2_RIndLngBEOth"].loc[test["LN2_RIndLngBEOth"].str.contains("marathi", na=False)] = "marathi"
test["LN2_RIndLngBEOth"].loc[test["LN2_RIndLngBEOth"].str.contains("tamil", na=False)] = "tamil"
test["LN2_RIndLngBEOth"].loc[test["LN2_RIndLngBEOth"].str.contains("kannada", na=False)] = "kannada"
# test["LN2_RIndLngBEOth"].value_counts()

In [28]:
# Coalesce languages with frequency <100, into 'other' category
# This takes care of test data having languages that train data doesn't have
readTr = train["LN2_RIndLngBEOth"].value_counts()
train["LN2_RIndLngBEOth"].replace(readTr[readTr<=100].index, "other", inplace=True)
train["LN2_RIndLngBEOth"].value_counts()

hindi        5327
marathi      1027
tamil         941
telugu        914
bengali       891
oriya         478
gujarati      410
kannada       405
malayalam     293
other         281
punjabi       194
assamese      180
Name: LN2_RIndLngBEOth, dtype: int64

In [29]:
readTe = test["LN2_RIndLngBEOth"].value_counts()
test["LN2_RIndLngBEOth"].replace(readTe[readTe<=100].index, "other", inplace=True)
test["LN2_RIndLngBEOth"].value_counts()

hindi        7847
marathi      1641
tamil        1455
telugu       1406
bengali      1360
oriya         685
gujarati      665
kannada       589
other         455
malayalam     453
punjabi       273
assamese      252
Name: LN2_RIndLngBEOth, dtype: int64

In [30]:
# Languages in test data that are NOT in train data
set(test["LN2_RIndLngBEOth"]) - set(train["LN2_RIndLngBEOth"])

set()

### LN2_WIndLngBEOth

In [31]:
train["LN2_WIndLngBEOth"].loc[train["LN2_WIndLngBEOth"].str.contains("hindi", na=False)] = "hindi"
train["LN2_WIndLngBEOth"].loc[train["LN2_WIndLngBEOth"].str.contains("kannada", na=False)] = "kannada"
train["LN2_WIndLngBEOth"].loc[train["LN2_WIndLngBEOth"].str.contains("marathi", na=False)] = "marathi"
# train["LN2_WIndLngBEOth"].value_counts()

In [32]:
test["LN2_WIndLngBEOth"].loc[test["LN2_WIndLngBEOth"].str.contains("hindi", na=False)] = "hindi"
test["LN2_WIndLngBEOth"].loc[test["LN2_WIndLngBEOth"].str.contains("marathi", na=False)] = "marathi"
test["LN2_WIndLngBEOth"].loc[test["LN2_WIndLngBEOth"].str.contains("telugu", na=False)] = "telugu"
test["LN2_WIndLngBEOth"].loc[test["LN2_WIndLngBEOth"].str.contains("tamil", na=False)] = "tamil"
# test["LN2_WIndLngBEOth"].value_counts()

In [33]:
writeTr = train["LN2_WIndLngBEOth"].value_counts()
train["LN2_WIndLngBEOth"].replace(writeTr[writeTr<=100].index, "other", inplace=True)
train["LN2_WIndLngBEOth"].value_counts()

hindi        5380
bengali      1083
tamil         949
telugu        895
marathi       834
oriya         504
gujarati      469
kannada       419
other         293
malayalam     255
assamese      134
punjabi       129
Name: LN2_WIndLngBEOth, dtype: int64

In [34]:
writeTe = test["LN2_WIndLngBEOth"].value_counts()
test["LN2_WIndLngBEOth"].replace(writeTe[writeTe<=100].index, "other", inplace=True)
test["LN2_WIndLngBEOth"].value_counts()

hindi        7966
bengali      1691
tamil        1466
telugu       1397
marathi      1382
oriya         710
gujarati      688
kannada       587
malayalam     396
other         391
punjabi       197
assamese      190
Name: LN2_WIndLngBEOth, dtype: int64

In [35]:
set(test["LN2_WIndLngBEOth"]) - set(train["LN2_WIndLngBEOth"])

set()

### Convert Strings to Float

Sklearn requires strings to be converted to floats. One such way to do it is to use the pd.factorize() function.

In [36]:
# Since the Imputer only accepts numeric data, fill missing languages with Hindi and 
# then convert those strings to float
train["LN2_RIndLngBEOth"].fillna("hindi", inplace=True)
train["LN2_WIndLngBEOth"].fillna("hindi", inplace=True)
test["LN2_RIndLngBEOth"].fillna("hindi", inplace=True)
test["LN2_WIndLngBEOth"].fillna("hindi", inplace=True)

In [37]:
# Change strings to digit keys
train["LN2_R"] = pd.factorize(train["LN2_RIndLngBEOth"])[0]
train["LN2_W"] = pd.factorize(train["LN2_WIndLngBEOth"])[0]
test["LN2_R"] = pd.factorize(test["LN2_RIndLngBEOth"])[0]
test["LN2_W"] = pd.factorize(test["LN2_WIndLngBEOth"])[0]

In [38]:
# 12 keys for 12 languages
test["LN2_W"].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

## 4. Impute NaNs

Algorithms in Sklearn can't handle NaNs, so impute them.

In [39]:
# Train data predictors
xTr = train.loc[:, ~train.columns.isin(["is_female", "LN2_RIndLngBEOth", "LN2_WIndLngBEOth"])]
xTr.head()

,AA3,AA4,AA6,AA7,AA14,AA15,DG1,DG3,DG3A,DG4,...,LN2_2,LN2_3,LN2_4,GN1,GN2,GN3,GN4,GN5,LN2_R,LN2_W
0,3,32,NaN,323011,3854,481,1975,3,4,5,...,1,1,1,99.0,99,99,99,99,0,0
1,2,26,8.0,268131,2441,344,1981,8,4,5,...,1,3,4,NaN,1,2,2,2,1,1
2,1,16,7.0,167581,754,143,1995,3,2,2,...,1,2,2,1.0,2,2,2,2,0,0
3,4,44,NaN,445071,5705,604,1980,3,4,5,...,1,4,5,NaN,2,2,99,99,2,2
4,4,43,6.0,436161,5645,592,1958,3,4,6,...,4,4,4,NaN,1,1,1,1,3,3

In [40]:
# Test data predictors
xTe = test.loc[:, ~test.columns.isin(["is_female", "LN2_RIndLngBEOth", "LN2_WIndLngBEOth"])]
xTe.head()

,AA3,AA4,AA6,AA7,AA14,AA15,DG1,DG3,DG3A,DG4,...,LN2_2,LN2_3,LN2_4,GN1,GN2,GN3,GN4,GN5,LN2_R,LN2_W
0,4,41,7.0,417211,4479,535,1979,8,1,1,...,1,1,1,2.0,1,3,3,3,0,0
1,3,32,NaN,322011,3803,476,1993,1,4,6,...,5,5,5,1.0,1,1,1,1,1,0
2,3,36,NaN,365011,5610,585,1980,3,99,6,...,5,5,5,2.0,2,2,2,2,2,1
3,2,24,7.0,247061,2550,350,1991,3,2,1,...,1,1,1,2.0,2,2,2,2,0,0
4,3,35,8.0,358071,3233,400,1985,3,4,6,...,1,1,1,1.0,1,1,1,1,0,0

In [41]:
# Since all data are categorical, replace NaNs with the most frequent levels
imputer = Imputer(missing_values="NaN", strategy="most_frequent", axis=0, copy=False)

In [42]:
xTrain = imputer.fit_transform(xTr)
xTest = imputer.fit_transform(xTe)

In [43]:
# Imputed train data predictors
xTrain = pd.DataFrame(xTrain, columns=list(xTr))
xTrain.head()

,AA3,AA4,AA6,AA7,AA14,AA15,DG1,DG3,DG3A,DG4,...,LN2_2,LN2_3,LN2_4,GN1,GN2,GN3,GN4,GN5,LN2_R,LN2_W
0,3.0,32.0,6.0,323011.0,3854.0,481.0,1975.0,3.0,4.0,5.0,...,1.0,1.0,1.0,99.0,99.0,99.0,99.0,99.0,0.0,0.0
1,2.0,26.0,8.0,268131.0,2441.0,344.0,1981.0,8.0,4.0,5.0,...,1.0,3.0,4.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0
2,1.0,16.0,7.0,167581.0,754.0,143.0,1995.0,3.0,2.0,2.0,...,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.0,0.0
3,4.0,44.0,6.0,445071.0,5705.0,604.0,1980.0,3.0,4.0,5.0,...,1.0,4.0,5.0,1.0,2.0,2.0,99.0,99.0,2.0,2.0
4,4.0,43.0,6.0,436161.0,5645.0,592.0,1958.0,3.0,4.0,6.0,...,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,3.0,3.0

In [44]:
# Imputed test data predictors
xTest = pd.DataFrame(xTest, columns=list(xTe))
xTest.head()

,AA3,AA4,AA6,AA7,AA14,AA15,DG1,DG3,DG3A,DG4,...,LN2_2,LN2_3,LN2_4,GN1,GN2,GN3,GN4,GN5,LN2_R,LN2_W
0,4.0,41.0,7.0,417211.0,4479.0,535.0,1979.0,8.0,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,3.0,3.0,3.0,0.0,0.0
1,3.0,32.0,6.0,322011.0,3803.0,476.0,1993.0,1.0,4.0,6.0,...,5.0,5.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,3.0,36.0,6.0,365011.0,5610.0,585.0,1980.0,3.0,99.0,6.0,...,5.0,5.0,5.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
3,2.0,24.0,7.0,247061.0,2550.0,350.0,1991.0,3.0,2.0,1.0,...,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,0.0,0.0
4,3.0,35.0,8.0,358071.0,3233.0,400.0,1985.0,3.0,4.0,6.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [45]:
# No more NaNs
print xTrain.columns[xTrain.isnull().sum()>0]
print xTest.columns[xTest.isnull().sum()>0]

Index([], dtype='object')
Index([], dtype='object')

# B. Run Classification Models

## 1. Random Forests

In [46]:
# Train data response
yTrain = train["is_female"]
yTrain.head()

0    1
1    1
2    1
3    1
4    1
Name: is_female, dtype: int64

### Train RF

In [47]:
rf =  RandomForestClassifier(n_estimators=100)

In [48]:
# Create validation dataset with 50% split
xTrainVal, xTestVal, yTrainVal, yTestVal = train_test_split(xTrain, yTrain, test_size=.5)

In [49]:
# Train on validation train data
rf.fit(X=xTrainVal, y=yTrainVal)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [50]:
# Predict on validation test data
yPredVal = rf.predict(xTestVal)

In [51]:
# Confusion matrix. More diagonal entries - good!
confusion_matrix(yTestVal, yPredVal, labels=[0,1])

array([[3696,  527],
       [ 527, 4378]])

In [52]:
print(classification_report(yTestVal, yPredVal))

             precision    recall  f1-score   support

          0       0.88      0.88      0.88      4223
          1       0.89      0.89      0.89      4905

avg / total       0.88      0.88      0.88      9128

The true positive rate (Precision) is 89% for each category. The Random Forest model correctly classifies 3688 out of 4230 males and 4396 out of 4898 females.

In [53]:
# Variable importance
sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), xTrain.columns), reverse=True)

[(0.0972, 'DL0'),
 (0.0971, 'DG6'),
 (0.0576, 'DL1'),
 (0.0557, 'MT1A'),
 (0.0253, 'FL4'),
 (0.0239, 'GN5'),
 (0.0201, 'DG3'),
 (0.0191, 'GN4'),
 (0.0159, 'DG1'),
 (0.0149, 'MT10'),
 (0.0149, 'GN2'),
 (0.0137, 'MT2'),
 (0.0123, 'GN3'),
 (0.0118, 'DG4'),
 (0.0115, 'DG8a'),
 (0.0115, 'AA14'),
 (0.0109, 'AA7'),
 (0.0108, 'DL5'),
 (0.0107, 'AA15'),
 (0.0078, 'DG5_4'),
 (0.0077, 'DL14'),
 (0.0073, 'GN1'),
 (0.0073, 'AA4'),
 (0.0061, 'DG9a'),
 (0.006, 'FL10'),
 (0.0057, 'FB20'),
 (0.0057, 'DL24'),
 (0.0055, 'LN1A'),
 (0.0055, 'IFI14_2'),
 (0.0053, 'FL9B'),
 (0.0051, 'MT17_3'),
 (0.005, 'MT1'),
 (0.005, 'FF2A'),
 (0.0049, 'DL15'),
 (0.0048, 'IFI14_1'),
 (0.0048, 'FL9A'),
 (0.0047, 'IFI16_2'),
 (0.0046, 'LN2_1'),
 (0.0046, 'IFI15_2'),
 (0.0045, 'LN1B'),
 (0.0043, 'FL9C'),
 (0.0043, 'FL8_1'),
 (0.0042, 'IFI17_1'),
 (0.0042, 'IFI16_1'),
 (0.0042, 'IFI15_1'),
 (0.0041, 'LN2_3'),
 (0.0041, 'FL8_7'),
 (0.0041, 'FL8_5'),
 (0.004, 'LN2_2'),
 (0.004, 'FL8_2'),
 (0.004, 'FL11'),
 (0.0039, 'LN2_4'),
 (0.0039, 'FL8_4'),
 (0.0039, 'FL8_3'),
 (0.0038, 'IFI24'),
 (0.0038, 'FL8_6'),
 (0.0038, 'FL3'),
 (0.0038, 'DL4_6'),
 (0.0037, 'MT7'),
 (0.0037, 'FF9'),
 (0.0035, 'DL4_5'),
 (0.0035, 'DG8b'),
 (0.0034, 'IFI17_2'),
 (0.0033, 'MT18_4'),
 (0.0033, 'MT18_1'),
 (0.0033, 'LN2_W'),
 (0.0033, 'FL15'),
 (0.0033, 'FB19'),
 (0.0033, 'DG8c'),
 (0.0033, 'AA3'),
 (0.0032, 'LN2_R'),
 (0.0032, 'FB13'),
 (0.0031, 'MT18_8'),
 (0.0031, 'FL1'),
 (0.003, 'MT17_5'),
 (0.0029, 'FL16'),
 (0.0028, 'FL17'),
 (0.0028, 'FB24'),
 (0.0028, 'FB2'),
 (0.0028, 'FB18'),
 (0.0026, 'MT15'),
 (0.0026, 'DG3A'),
 (0.0025, 'AA6'),
 (0.0024, 'MT17_12'),
 (0.0024, 'IFI14_3'),
 (0.0023, 'MT17_2'),
 (0.0023, 'FL2'),
 (0.0023, 'FL14'),
 (0.0022, 'MT17_11'),
 (0.0022, 'MT17_1'),
 (0.0022, 'IFI18'),
 (0.0021, 'MT17_6'),
 (0.0021, 'IFI15_3'),
 (0.0021, 'IFI14_4'),
 (0.0021, 'FF6_2'),
 (0.0021, 'FF10_2'),
 (0.0021, 'DL4_25'),
 (0.0021, 'DG5_6'),
 (0.0021, 'DG5_2'),
 (0.002, 'MT17_9'),
 (0.002, 'DG5_7'),
 (0.0019, 'MT18_2'),
 (0.0019, 'DL19'),
 (0.0019, 'DL18'),
 (0.0018, 'MM1'),
 (0.0018, 'IFI14_5'),
 (0.0018, 'FF6_6'),
 (0.0018, 'FF6_4'),
 (0.0018, 'FF13'),
 (0.0018, 'DL6'),
 (0.0018, 'DL16'),
 (0.0018, 'DL11'),
 (0.0017, 'MT17_10'),
 (0.0017, 'FF6_7'),
 (0.0017, 'FB1_1'),
 (0.0017, 'DL4_2'),
 (0.0017, 'DL23'),
 (0.0017, 'DL17'),
 (0.0017, 'DG5_10'),
 (0.0016, 'IFI15_7'),
 (0.0016, 'IFI15_4'),
 (0.0016, 'IFI14_7'),
 (0.0016, 'FL7_4'),
 (0.0016, 'FL7_3'),
 (0.0016, 'FL7_1'),
 (0.0016, 'FL6_1'),
 (0.0016, 'FL18'),
 (0.0016, 'FL13'),
 (0.0016, 'FF6_8'),
 (0.0016, 'FF2'),
 (0.0016, 'FF1'),
 (0.0016, 'FB3'),
 (0.0016, 'DL26_12'),
 (0.0016, 'DL22'),
 (0.0016, 'DL21'),
 (0.0016, 'DL20'),
 (0.0015, 'FL7_2'),
 (0.0015, 'FL6_3'),
 (0.0015, 'FF6_9'),
 (0.0015, 'FF6_5'),
 (0.0015, 'FF6_3'),
 (0.0015, 'FF6_1'),
 (0.0015, 'FF5'),
 (0.0015, 'FF14_1'),
 (0.0015, 'FB1_3'),
 (0.0015, 'FB19B_3'),
 (0.0015, 'FB19B_1'),
 (0.0015, 'DG5_5'),
 (0.0014, 'MT17_4'),
 (0.0014, 'IFI15_5'),
 (0.0014, 'FL7_6'),
 (0.0014, 'FB19B_96'),
 (0.0014, 'FB19B_4'),
 (0.0014, 'FB19B_2'),
 (0.0013, 'MT17_8'),
 (0.0013, 'FL7_5'),
 (0.0013, 'FL6_4'),
 (0.0013, 'FL6_2'),
 (0.0013, 'FF6_10'),
 (0.0013, 'FB1_2'),
 (0.0013, 'DL26_99'),
 (0.0013, 'DL25_3'),
 (0.0013, 'DG5_1'),
 (0.0012, 'IFI3_3'),
 (0.0012, 'IFI14_6'),
 (0.0012, 'FL12'),
 (0.0012, 'FB22_8'),
 (0.0012, 'FB22_1'),
 (0.0012, 'FB19B_5'),
 (0.0012, 'DL26_5'),
 (0.0012, 'DL25_1'),
 (0.0011, 'MT18_5'),
 (0.0011, 'IFI1_3'),
 (0.0011, 'IFI15_6'),
 (0.0011, 'DL25_2'),
 (0.001, 'MT18_3'),
 (0.001, 'FB16_8'),
 (0.001, 'DL25_5'),
 (0.0009, 'MT17_13'),
 (0.0009, 'FF7_4'),
 (0.0009, 'FF14_2'),
 (0.0009, 'FF10_1'),
 (0.0009, 'DL25_8'),
 (0.0009, 'DL25_4'),
 (0.0008, 'MT17_7'),
 (0.0008, 'FB27_2'),
 (0.0008, 'FB16_7'),
 (0.0008, 'FB16_1'),
 (0.0008, 'DL4_3'),
 (0.0008, 'DL4_17'),
 (0.0008, 'DL26_1'),
 (0.0008, 'DL25_7'),
 (0.0007, 'FB22_9'),
 (0.0007, 'DL4_19'),
 (0.0007, 'DL4_16'),
 (0.0007, 'DL26_3'),
 (0.0007, 'DL25_6'),
 (0.0006, 'FF7_2'),
 (0.0006, 'FB29_1'),
 (0.0006, 'FB16_6'),
 (0.0005, 'MM3_2'),
 (0.0005, 'IFI1_5'),
 (0.0005, 'FF7_5'),
 (0.0005, 'FB29_3'),
 (0.0005, 'FB22_12'),
 (0.0005, 'DL4_7'),
 (0.0005, 'DL4_20'),
 (0.0005, 'DL4_1'),
 (0.0005, 'DL26_6'),
 (0.0005, 'DG5_11'),
 (0.0004, 'MM2_2'),
 (0.0004, 'IFI3_1'),
 (0.0004, 'FF7_1'),
 (0.0004, 'FF19_6'),
 (0.0004, 'FF19_4'),
 (0.0004, 'FF19_1'),
 (0.0004, 'FB29_2'),
 (0.0004, 'FB22_10'),
 (0.0004, 'FB19A_4'),
 (0.0004, 'FB19A_3'),
 (0.0004, 'FB19A_2'),
 (0.0004, 'FB19A_1'),
 (0.0004, 'DL4_4'),
 (0.0004, 'DL4_18'),
 (0.0004, 'DL26_9'),
 (0.0004, 'DG5_3'),
 (0.0003, 'MMP1_1'),
 (0.0003, 'MM3_13'),
 (0.0003, 'MM3_1'),
 (0.0003, 'IFI3_2'),
 (0.0003, 'IFI1_7'),
 (0.0003, 'IFI1_2'),
 (0.0003, 'IFI1_1'),
 (0.0003, 'FF19_3'),
 (0.0003, 'FF19_2'),
 (0.0003, 'FF14_23'),
 (0.0003, 'FF14_11'),
 (0.0003, 'FB27_3'),
 (0.0003, 'FB27_1'),
 (0.0003, 'FB19A_5'),
 (0.0003, 'DL4_24'),
 (0.0003, 'DL26_8'),
 (0.0003, 'DL26_7'),
 (0.0003, 'DL26_4'),
 (0.0003, 'DL26_2'),
 (0.0003, 'DG5_8'),
 (0.0002, 'MT18_96'),
 (0.0002, 'FF19_8'),
 (0.0002, 'FF19_7'),
 (0.0002, 'FF19_5'),
 (0.0002, 'FF14_9'),
 (0.0002, 'FF14_4'),
 (0.0002, 'FF14_20'),
 (0.0002, 'FF14_16'),
 (0.0002, 'FF10_3'),
 (0.0002, 'FB29_6'),
 (0.0002, 'FB29_5'),
 (0.0002, 'FB27_9'),
 (0.0002, 'FB27_4'),
 (0.0002, 'FB22_3'),
 (0.0002, 'FB22_11'),
 (0.0002, 'FB16_2'),
 (0.0002, 'DL4_9'),
 (0.0002, 'DL4_23'),
 (0.0002, 'DL4_14'),
 (0.0002, 'DL4_10'),
 (0.0001, 'MMP1_3'),
 (0.0001, 'MM3_6'),
 (0.0001, 'MM3_5'),
 (0.0001, 'MM3_14'),
 (0.0001, 'MM2_13'),
 (0.0001, 'MM2_1'),
 (0.0001, 'IFI1_9'),
 (0.0001, 'IFI1_8'),
 (0.0001, 'IFI1_6'),
 (0.0001, 'FF7_7'),
 (0.0001, 'FF7_6'),
 (0.0001, 'FF7_3'),
 (0.0001, 'FF14_6'),
 (0.0001, 'FF14_5'),
 (0.0001, 'FF14_3'),
 (0.0001, 'FF14_18'),
 (0.0001, 'FF14_17'),
 (0.0001, 'FF14_15'),
 (0.0001, 'FF14_12'),
 (0.0001, 'FF14_10'),
 (0.0001, 'FF10_6'),
 (0.0001, 'FF10_5'),
 (0.0001, 'FF10_4'),
 (0.0001, 'FB29_96'),
 (0.0001, 'FB29_4'),
 (0.0001, 'FB27_7'),
 (0.0001, 'FB27_6'),
 (0.0001, 'FB22_4'),
 (0.0001, 'FB22_2'),
 (0.0001, 'FB19A_96'),
 (0.0001, 'FB16_96'),
 (0.0001, 'FB16_3'),
 (0.0001, 'DL4_8'),
 (0.0001, 'DL4_22'),
 (0.0001, 'DL4_21'),
 (0.0001, 'DL4_13'),
 (0.0001, 'DL4_12'),
 (0.0001, 'DL4_11'),
 (0.0001, 'DL26_10'),
 (0.0001, 'DG5_9'),
 (0.0, 'MT18_6'),
 (0.0, 'MMP1_96'),
 (0.0, 'MMP1_9'),
 (0.0, 'MMP1_8'),
 (0.0, 'MMP1_7'),
 (0.0, 'MMP1_6'),
 (0.0, 'MMP1_5'),
 (0.0, 'MMP1_4'),
 (0.0, 'MMP1_2'),
 (0.0, 'MMP1_11'),
 (0.0, 'MMP1_10'),
 (0.0, 'MM3_9'),
 (0.0, 'MM3_8'),
 (0.0, 'MM3_7'),
 (0.0, 'MM3_4'),
 (0.0, 'MM3_3'),
 (0.0, 'MM3_12'),
 (0.0, 'MM3_11'),
 (0.0, 'MM3_10'),
 (0.0, 'MM2_9'),
 (0.0, 'MM2_8'),
 (0.0, 'MM2_7'),
 (0.0, 'MM2_6'),
 (0.0, 'MM2_5'),
 (0.0, 'MM2_4'),
 (0.0, 'MM2_3'),
 (0.0, 'MM2_16'),
 (0.0, 'MM2_15'),
 (0.0, 'MM2_14'),
 (0.0, 'MM2_12'),
 (0.0, 'MM2_11'),
 (0.0, 'MM2_10'),
 (0.0, 'IFI1_4'),
 (0.0, 'FF7_96'),
 (0.0, 'FF14_96'),
 (0.0, 'FF14_8'),
 (0.0, 'FF14_7'),
 (0.0, 'FF14_22'),
 (0.0, 'FF14_21'),
 (0.0, 'FF14_19'),
 (0.0, 'FF14_14'),
 (0.0, 'FF14_13'),
 (0.0, 'FF10_96'),
 (0.0, 'FB27_96'),
 (0.0, 'FB27_8'),
 (0.0, 'FB27_5'),
 (0.0, 'FB22_96'),
 (0.0, 'FB22_7'),
 (0.0, 'FB22_6'),
 (0.0, 'FB22_5'),
 (0.0, 'FB16_5'),
 (0.0, 'FB16_4'),
 (0.0, 'DL4_15'),
 (0.0, 'DG5_96')]

### Predict with RF

In [54]:
# Predict on test data
yTest = rf.predict(xTest)

In [55]:
# Write prediction to CSV file
submissionRF = pd.DataFrame({"test_id": range(0, len(yTest)), "is_female": yTest})
submissionRF = submissionRF[["test_id", "is_female"]]
submissionRF.to_csv("../submission/submissionRF.csv", index=False)

This model yielded **ROC score of 0.88142** on Kaggle submission.