In [1]:
import pandas as pd

In [2]:
# Read train data
train = pd.read_csv("../data/train.csv", low_memory=False)
train.drop(["train_id"], axis=1, inplace=True)
train.head()

,AA3,AA4,AA5,AA6,AA7,AA14,AA15,DG1,is_female,DG3,...,GN1,GN1_OTHERS,GN2,GN2_OTHERS,GN3,GN3_OTHERS,GN4,GN4_OTHERS,GN5,GN5_OTHERS
0,3,32,3.0,NaN,323011,3854,481,1975,1,3,...,99.0,NaN,99,NaN,99,NaN,99,NaN,99,NaN
1,2,26,NaN,8.0,268131,2441,344,1981,1,8,...,NaN,NaN,1,NaN,2,NaN,2,NaN,2,NaN
2,1,16,NaN,7.0,167581,754,143,1995,1,3,...,1.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,4,44,5.0,NaN,445071,5705,604,1980,1,3,...,NaN,NaN,2,NaN,2,NaN,99,NaN,99,NaN
4,4,43,NaN,6.0,436161,5645,592,1958,1,3,...,NaN,NaN,1,NaN,1,NaN,1,NaN,1,NaN

In [3]:
# Train data dimensions
train.shape

(18255, 1234)

In [4]:
test = pd.read_csv("../data/test.csv", low_memory=False)
test.drop(["test_id"], axis=1, inplace=True)
test.head()

,AA3,AA4,AA5,AA6,AA7,AA14,AA15,DG1,DG3,DG3A,...,GN1,GN1_OTHERS,GN2,GN2_OTHERS,GN3,GN3_OTHERS,GN4,GN4_OTHERS,GN5,GN5_OTHERS
0,4,41,NaN,7.0,417211,4479,535,1979,8,1,...,2.0,NaN,1,NaN,3,NaN,3,NaN,3,NaN
1,3,32,2.0,NaN,322011,3803,476,1993,1,4,...,1.0,NaN,1,NaN,1,NaN,1,NaN,1,NaN
2,3,36,5.0,NaN,365011,5610,585,1980,3,99,...,2.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,2,24,NaN,7.0,247061,2550,350,1991,3,2,...,2.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
4,3,35,NaN,8.0,358071,3233,400,1985,3,4,...,1.0,NaN,1,NaN,1,NaN,1,NaN,1,NaN

In [5]:
test.shape

(27285, 1233)

In [6]:
# Variable names listed in the data dictionary
var = list(pd.read_excel("../data/data-dictionary.xlsx", 
                         sheet_name="Codebook")["Column Name"]) + \
      list(pd.read_excel("../data/data-dictionary.xlsx", 
                         sheet_name="AA Locations", 
                         header=None)[0].dropna())
len(var)

1113

In [7]:
# Number of variables present in train, but NOT present in dictionary (A-B)
len(set(train.columns) - set(var))

155

In [8]:
# Variables present in test, but NOT present in train (A-B)
set(test.columns) - set(train.columns)

set()

In [9]:
# Variables present in train, but NOT present in test (A-B)
set(train.columns) - set(test.columns)

{'is_female'}

In [10]:
# Number of variables present in dictionary, but NOT present in train (A-B)
len(set(var) - set(train.columns))

30

In [11]:
# Empty columns with no data
emptyCol = train.columns[train.isnull().sum()==len(train)]
emptyCol

Index([u'DG4_OTHERS', u'G2P2_2_OTHERS', u'G2P2_10_OTHERS', u'G2P2_12_OTHERS',
       u'G2P2_15_OTHERS', u'MT12_99', u'MT13_4_OTHERS', u'MT13_96_OTHERS',
       u'MT14_3_OTHERS', u'MT14_5_OTHERS', u'MT14_7_OTHERS', u'MM3_15',
       u'MM3_16', u'MM4_16', u'MM5_4', u'MM5_5', u'MM5_15', u'MM5_16',
       u'MM5A_4', u'MM5A_5', u'MM5A_15', u'MM5A_16', u'MM6_16', u'MM7_4',
       u'MM7_5', u'MM7_15', u'MM7_16', u'MM8_15', u'MM8_16', u'MM11_4',
       u'MM11_5', u'MM11_5_OTHERS', u'MM11_11_OTHERS', u'MM11_15', u'MM11_16',
       u'MM15_OTHERS', u'MM17_13', u'MM17_15', u'MM17_17', u'MM17_19',
       u'MM17_22', u'MM17_96', u'MM17A', u'MM38_OTHERS', u'MM40_14',
       u'MM40_96', u'MMP4_7', u'MMP4_8', u'MMP4_96', u'FB28_3_OTHERS'],
      dtype='object')

In [12]:
# Remove empty columns from train and test data
train.drop(emptyCol, axis=1, inplace=True)
test.drop(emptyCol, axis=1, inplace=True)
print train.shape
print test.shape

(18255, 1184)
(27285, 1183)

In [13]:
# Columns where atleast 50% of the data are missing
sparseCol = train.columns[train.isnull().sum()>=len(train)/2.]
sparseCol

Index([u'AA5', u'DG3A_OTHERS', u'DG9b', u'DG9c', u'DG10b', u'DG10c', u'DG11b',
       u'DG11c', u'DG12B_1', u'DG12B_2',
       ...
       u'FB28_1_OTHERS', u'FB28_2_OTHERS', u'FB28_4_OTHERS', u'FB28_96_OTHERS',
       u'FB29_OTHERS', u'GN1_OTHERS', u'GN2_OTHERS', u'GN3_OTHERS',
       u'GN4_OTHERS', u'GN5_OTHERS'],
      dtype='object', length=823)

In [14]:
# NaN counts for columns with atleast 50% missing data
train[sparseCol].isnull().sum().unique()

array([12602, 18205, 10018, 11451, 11678, 12862, 12002, 13158, 14691,
       18246, 17508, 18222, 17974,  9257, 18153, 18021, 17947, 10985,
       15815, 18238, 18144, 14264, 14628, 18249, 15645, 18182, 17704,
       18232, 18241, 18179, 18235, 18208, 17524, 17965, 17860, 18212,
       18011, 18200, 18001, 18251, 18227, 18254, 18253, 18250,  9333,
       18244, 18230, 15095, 18240, 12082, 18234, 11243, 18233, 17672,
       15596, 17805, 18046, 18218, 18245, 16572, 18247, 18003, 16681,
       18055, 18252, 17572, 11285, 14806, 18199, 18135, 11496, 18248,
       17876, 18229, 11310,  9987, 18048, 18101, 18155, 18215, 18112,
       18133, 18049, 18217, 18124, 18116, 18170, 18242, 18209, 18183,
       17788, 17890, 17352, 18169, 18187, 18054, 18198, 18143, 18211,
       18194, 18125, 18180, 17752, 18157, 18239, 18223, 18220, 18216,
       18236, 18128, 18181, 17182, 18243, 17183, 18204, 18190, 18172,
       18191, 18219, 18201, 18224, 18226, 18207, 18210, 18214, 18031,
       18225, 18062, 17959, 18015, 17759, 17811, 17381, 17467, 17186,
       18213, 17616, 14574, 16325, 16366, 16358, 15388, 16897, 18114,
       18126, 13831, 18195, 13723, 18237, 16761, 17997, 18163, 17674,
       16691, 15474, 18158, 18192, 17059, 12714, 18160, 18024, 17975,
       17792, 17686, 17064,  9917, 18228, 17910, 16813, 17893, 18085,
       18189, 18196, 18177])

In [15]:
# Remove columns with atleast 50% missing data from train and test data
train.drop(sparseCol, axis=1, inplace=True)
test.drop(sparseCol, axis=1, inplace=True)
print train.shape
print test.shape

(18255, 361)
(27285, 360)

In [16]:
# Variables present in train, but NOT present in data dictionary (A-B)
set(train.columns) - set(var)

{'DL14', 'DL4_96', 'DL4_99', 'LN2_RIndLngBEOth', 'LN2_WIndLngBEOth'}

According to the data dictionary:  
DL4_96 = DL4_24,  
DL4_99 = DL4_25,   
LN2_RIndLngBEOth = LN2_3 Reading specification,   
LN2_WIndLngBEOth = LN2_4 Writing specification,  
DL14 description is unknown

Let's rename columns DL4_96 and DL4_99 in train and test data to match with the dictionary labels.

In [17]:
# Rename columns in train and test data to match with dictionary labels
train.rename(columns={"DL4_96": "DL4_24", "DL4_99": "DL4_25"}, inplace=True)
test.rename(columns={"DL4_96": "DL4_24", "DL4_99": "DL4_25"}, inplace=True)

In [18]:
# 123 columns have NaN in train data
missColTr = train.columns[train.isnull().sum()>0]
missColTr

Index([u'AA6', u'DG9a', u'DL5', u'MT1A', u'MT7', u'MT15', u'MT17_1', u'MT17_2',
       u'MT17_3', u'MT17_4',
       ...
       u'FB19B_2', u'FB19B_3', u'FB19B_4', u'FB19B_5', u'FB19B_96', u'FB20',
       u'FB24', u'LN2_RIndLngBEOth', u'LN2_WIndLngBEOth', u'GN1'],
      dtype='object', length=123)

In [19]:
# Counts of NaN in train data
train[missColTr].isnull().sum().unique()

array([5653,  232, 6806,  757, 8922, 7012, 6173, 6759, 6380, 7839, 8670,
         86,  425,   37,   11,    6,   47,   21,   10,    7,   34,   20,
        159,   16, 2129, 5293, 7319, 7397, 4049, 6580,  769,  444,  297,
        247,  263,   63, 1494, 5541, 6914, 6911, 4025])

In [20]:
# 123 columns have NaN in test data
missColTe = test.columns[test.isnull().sum()>0]
missColTe

Index([u'AA6', u'DG9a', u'DL5', u'MT1A', u'MT7', u'MT15', u'MT17_1', u'MT17_2',
       u'MT17_3', u'MT17_4',
       ...
       u'FB19B_2', u'FB19B_3', u'FB19B_4', u'FB19B_5', u'FB19B_96', u'FB20',
       u'FB24', u'LN2_RIndLngBEOth', u'LN2_WIndLngBEOth', u'GN1'],
      dtype='object', length=123)

In [21]:
# Counts of NaN in test data
test[missColTe].isnull().sum().unique()

array([ 8459,   386, 10207,  1158, 13479, 10590,  8976, 10134,  9622,
       11736, 12977,   141,   658,    35,     5,     8,    93,    32,
          51,    13,    15,    68,    31,   272,    25,  3169,  7846,
       10911, 10946,  5999,  9869,  1127,   716,   462,   374,   381,
          74,  2227,  8281, 10204, 10224,  6143])

In [22]:
# 123 columns with NaN are the same in train and test data
set(missColTr).symmetric_difference(set(missColTe))

set()